<fieldset class="design">
    <div class="design__head js-design-head">
        <div class="design__head__intro">
            <i class="fa-regular fa-object-ungroup box--element design__head__intro__icon"></i>
            <legend class="design__head__intro__title"> Diseña
            </legend>
        </div>
        <i class="fa-solid fa-angle-up design__head__arrow js-design-arrow-up collapsed"></i>
        <i class="fa-solid fa-angle-down design__head__arrow js-design-arrow-down"></i>
    </div>

    <!--Disappears when the menu is toggled-->
    <div class="design__palette js-design-big-box">
        <p class="design__palette__p"> Colores
        </p>
        <div class="design__palette__box design__palette__box--1">
            <input class="design__palette__box--selector js-palette-one" type="radio" value="1" name="palette"
                checked />
            <div class="design__palette__box--1left minibox"></div>
            <div class="design__palette__box--1middle minibox"></div>
            <div class="design__palette__box--1right minibox"></div>
        </div>
        <div class="design__palette__box design__palette__box--2">
            <input class="design__palette__box--selector js-palette-two" type="radio" value="2" name="palette" />
            <div class="design__palette__box--2left  minibox"></div>
            <div class="design__palette__box--2middle minibox"></div>
            <div class="design__palette__box--2right minibox"></div>
        </div>
        <div class="design__palette__box design__palette__box--3">
            <input class="design__palette__box--selector js-palette-three" type="radio" value="3" name="palette" />
            <div class="design__palette__box--3left minibox"></div>
            <div class="design__palette__box--3middle minibox"></div>
            <div class="design__palette__box--3right minibox"></div>
        </div>
    </div>
</fieldset>