<section class="preview">
    <!--Secondary container for wrapping items-->
    <div class="preview__content">
        <!--Reset button-->
        <button class="reset js-reset-btn" type="reset">
            <p>Reset</p>
            <i class="fa-regular fa-trash-can"></i>
        </button>
        <!--Article-->
        <article class="article js-article palette-1">
            <!--Header with title & subtitle-->
            <div class="article__header">
                <h1 class="article__header--title js-article-title">Minion Stuart</h1>
                <h2 class="article__header--subtitle js-article-subtitle">Despicable villain</h2>
            </div>
            <!--Container for profile picture-->
            <div class="article__photo js-article-photo js__profile-image profile__image">
            </div>
            <!--Navigation menu with icons-->
            <nav class="article__nav">
                <ul class="article__nav--list">
                    <li>
                        <a class="article__nav--link js-article-link-phone" href="#"><i
                                class="fa-solid fa-mobile-screen-button fa-md"></i></a>
                    </li>
                    <li>
                        <a class="article__nav--link js-article-link-mail" href="#"><i
                                class="fa-regular fa-envelope fa-md"></i></a>
                    </li>
                    <li>
                        <a class="article__nav--link js-article-link-linkedin" href="#" target="_blank"><i
                                class="fa-brands fa-linkedin-in fa-md"></i></a>
                    </li>
                    <li>
                        <a class="article__nav--link js-article-link-github" href="#" target="_blank"><i
                                class="fa-brands fa-github-alt fa-md"></i></a>
                    </li>
                </ul>
            </nav>
        </article>
    </div>
</section>