<fieldset class="share">
    <!--Review button -submit-->
    <div class="share__head js-share-head">
        <span class="share__head__intro">
            <i class="fa-solid fa-share-nodes icon-sharebox--element share__head__intro__icon"></i>
            <legend class="share__head__intro__title">Comparte
            </legend>
        </span>
        <i class="fa-solid fa-angle-up share__head__arrow js-share-arrow-up"></i>
        <i class="fa-solid fa-angle-down share__head__arrow js-share-arrow-down collapsed"></i>
    </div>

    <!--Change it to a button. This way it would validate the form. it does not need a submit input-->
    <div class="share__div js-share-big-box collapsed">
        <div class="createbutton-on js-create-button">
            <i class="fa-solid fa-address-card icon-id "></i>
            <input type="submit" name="" id="" value=" Crear tarjeta" class="inputSubmit">

        </div>
        <!--Change it to a button-->

        <div class="shareresultbox collapsed js-share-result-box">
            <hr class="lineRectangle">
            <span class="shareresultbox__text">La tarjeta ha sido creada:</span>
            <a href="#" class="shareresultbox__link js-share-url" target="_blank"></a>
            <div class="shareresultbox__twitterbox">
                <!--Reloads the pge because it is an empty link. it may be a button with inden with it, but it depends on the library. TO BE FOUND ON THE INTERNET. "How to share something Twitter"-->
                <a href="#" target="_blank" class="shareresultbox__twitterbox--twitter js-link-twitter">
                    <i class="fa-brands fa-twitter tweet-icon"></i>
                    <span class="sharetwitter-text"> Compartir en twitter</span>
                </a>
            </div>
        </div>

    </div>
</fieldset>